<ion-header>
  <ion-toolbar>
    <ion-title>
      Register
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- CONTENT -->
<ion-content no-bounce no-padding>
  <ion-grid>
    <ion-row justify-content-center no-padding>
      <ion-col align-self-center no-padding>

        <!-- FORM -->
        <ion-row justify-content-center>
          <ion-col size-md="8" size-lg="6" align-self-center>

            <div no-padding>
              <form no-padding #f="ngForm">

                <!-- USERNAME FIELD -->
                <ion-row>
                  <ion-col>
                    <ion-input ngModel [(ngModel)]="user.username" type="text" id="login_input_username" name="userName"
                      placeholder="username" (input)="getLoginInputText($event)" required>
                    </ion-input>
                  </ion-col>
                </ion-row>

                <!-- PASSWORD FIELD -->
                <ion-row>
                  <ion-col>
                    <div>
                      <ion-input [(ngModel)]="user.password" [type]="passwordType" id="login_input_password"
                        clearOnEdit="false" name="password" placeholder="password" required>
                      </ion-input>
                      <ion-img *ngIf="!passwordShown" class="eye-style" id="passwordEye" (click)="passwordToggle()"
                        src="assets/icon/ic-eye.svg">
                      </ion-img>
                      <ion-img *ngIf="passwordShown" class="eye-style eye-off" id="passwordEyeOff"
                        (click)="passwordToggle()" src="assets/icon/ic-eye-off.svg">
                      </ion-img>
                    </div>
                  </ion-col>
                </ion-row>

                <!-- ENTER BUTTON -->
                <ion-row>
                  <ion-col>
                    <ion-button id="login_button_submit" [disabled]="!f.valid" type="submit" expand="block" class="bt-md-advanced test" (click)="onRegisterByEmail()" shape="round">Register</ion-button>
                  </ion-col>
                </ion-row>

                <!-- SOCIAL NETWORK SESSION -->
                <ion-row class="text-row" align-items-center justify-content-center>
                  <ion-col>
                    <div class="line"></div>
                  </ion-col>
                  <ion-col class="text-container" size-xs="8" size-md="6">
                    <ion-label class="text" innerHTML="Social network"></ion-label>
                  </ion-col>
                  <ion-col>
                    <div class="line"></div>
                  </ion-col>
                </ion-row>

                <!-- SESSION TO SELECT THE SOCIAL NETWORK-->
                <ion-row justify-content-around>
                  <ion-col>
                    <ion-card class="social-network-circle google-circle" (click)="onGoogle()">
                      <ion-card-content>
                        <ion-row>
                          <ion-col align-self-center>
                            <img src="/assets/icon/ic-google.svg" alt="Google">
                          </ion-col>
                        </ion-row>
                      </ion-card-content>
                    </ion-card>
                  </ion-col>
                  <ion-col offset="1">
                    <ion-card class="social-network-circle facebook-circle" (click)="onFacebook()">
                      <ion-card-content>
                        <ion-row>
                          <ion-col align-self-center>
                            <img src="/assets/icon/ic-facebook.svg" alt="Facebook">
                          </ion-col>
                        </ion-row>
                      </ion-card-content>
                    </ion-card>
                  </ion-col>
                </ion-row>
              </form>
            </div>

          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer no-border>
  <!-- FOOTER -->
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-md="8" size-lg="6" size-xl="5">
        <ion-row>
          <ion-col align-self-end>
            <ion-item class="text footer-text-left" (click)="onSupport()" lines="none">Support</ion-item>
          </ion-col>
          <ion-col align-self-end>
            <ion-item class="text footer-text-right" lines="none">Fazer login</ion-item>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
