<ion-content scrollEvents="true">
    <!-- TITLE -->
    <ion-row justify-content-center>
        <ion-col size="12" size-lg="8">
            <p class="content-title"> login or sign up </p>
        </ion-col>
    </ion-row>
    <ion-row justify-content-center>
        <ion-col size="12" size-lg="8">
            <div padding>
                <!-- TABS TITLE -->
                <ion-segment [(ngModel)]="tabSelected" mode="md">
                    <ion-segment-button id="segment_{tab.value}" *ngFor="let tab of tabs" [value]="tab.value">
                        <ion-label>
                            {{tab.title}}
                        </ion-label>
                    </ion-segment-button>

                </ion-segment>

            </div>

            <div [ngSwitch]="tabSelected">
                <!-- LOGIN -->
                <div id="tab_login" *ngSwitchCase="'login'">
                    <app-login></app-login>
                </div>

                <!-- REGISTER -->
                <div id="tab_register" no-padding *ngSwitchCase="'register'">
                    <app-register></app-register>
                </div>
            </div>
        </ion-col>
    </ion-row>
</ion-content>