ion-segment {
  --color-checked: var(--ion-color-dark);
  --color-checked-disabled: var(--color-checked);
}

ion-segment-button {
  --indicator-color-checked: var(--ion-color-medium) !important;
}

ion-col {
  position: initial;
}

ion-input {
  margin-bottom: 0px;
  margin-top: 0px;
  background: #fff;
  --padding-start: 18px;
  color: #3e5055;
}

ion-button {
  margin-bottom: 0px;
  margin-top: 0px;
}

.content-title {
  font-family: Arial;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: 0.3px;
  text-align: center;
  color: #8b979f;
}
