<!-- CONTENT -->
<form (ngSubmit)="onSubmit()" #f="ngForm">
    <ion-grid>
        <ion-row justify-content-center no-padding>
            <ion-col align-self-center no-padding>

                <!-- FORM -->
                <ion-row justify-content-center>
                    <ion-col size-md="10" size-lg="8" align-self-center>

                        <div no-padding>
                            <!-- USERNAME FIELD -->
                            <ion-row>
                                <ion-col>
                                    <ion-input ngModel [(ngModel)]="userCredentials.email" type="text"
                                        id="login_input_username" name="userName" placeholder="username"
                                        (input)="getLoginInputText($event)" required>
                                    </ion-input>
                                </ion-col>
                            </ion-row>

                            <!-- PASSWORD FIELD -->
                            <ion-row>
                                <ion-col>
                                    <div>
                                        <ion-input [(ngModel)]="userCredentials.password" [type]="passwordType"
                                            id="login_input_password" clearOnEdit="false" name="password"
                                            placeholder="password" required>
                                        </ion-input>
                                        <ion-img *ngIf="!passwordShown" class="eye-style" id="passwordEye"
                                            (click)="passwordToggle()" src="assets/icon/ic-eye.svg">
                                        </ion-img>
                                        <ion-img *ngIf="passwordShown" class="eye-style eye-off" id="passwordEyeOff"
                                            (click)="passwordToggle()" src="assets/icon/ic-eye-off.svg">
                                        </ion-img>
                                    </div>
                                </ion-col>
                            </ion-row>

                            <!-- ENTER BUTTON -->
                            <ion-row>
                                <ion-col>
                                    <ion-button id="login_button_submit" [disabled]="!f.valid" type="submit"
                                        expand="block" color="primary" shape="round">Login</ion-button>
                                </ion-col>
                            </ion-row>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
        <app-social-media-buttons (google)="onGoogle()" (facebook)="onFacebook()"></app-social-media-buttons>
    </ion-grid>
</form>